@page "/game"

@inject NavigationManager _nav

<PageTitle>minswep</PageTitle>

<div class="flex gap-2 items-baseline">
    <a class="shadow rounded px-3 py-1 bg-lime-600 text-gray-100 hover:bg-lime-500">Reset</a>

    <span class="grow"></span>
    <span>@minecount / @Mines 💣</span>
    <span>Timer ⏱️</span>
    <span class="grow"></span>

    @foreach (var item in gamemodes)
    {
        <a class="shadow rounded px-3 py-1 bg-lime-600 text-gray-100 hover:bg-lime-500" href="@item.Value">@item.Key</a>
    }
</div>

@if (playfield != null)
{

    <div class="grid gap-1 mx-auto max-w-fit p-3 shadow bg-gray-100 rounded"
    style="grid-template-columns: repeat(@Width, minmax(0, 1fr));">
        @{

            var i = 0;
        }
        @for (int x = 0; x < Width; x++)
        {
            @for (int y = 0; y < Height; y++)
            {
                var fx = x;
                var fy = y;
                <button class="w-16 h-16 bg-red-100" @onclick="@(() => ToggleMine(fx, fy))">
                    @if (playfield[x, y])
                    {
                        <span>💣</span>
                    }
                    else
                    {
                        <span>@(i++) <br /> @fx @fy <br /> @GetNeighbouringMineCount(fx,fy)</span>
                    }
                </button>
            }
        }
    </div>
}

✅☑️✔️❎🔳🔲